{% load static %}
{% load static %}
<footer>
    <div class="container">
        <p class="text-center fs-5 text">PiemonteCred, uma integrante do Grupo Piemonte</p>
        <p class="text-center fs-5 text">Produtos e serviços com o selo Banco do Brasil</p>
        <div class="text-center">
            <a href="https://www.instagram.com/piemontecred/">
                <img src="{% static 'assets/logo-instagram.png' %}" alt="Instagram Logo" class="img-fluid" id="logo-instagram">
            </a>
        </div>
    </div>
</footer>
