{% load static %}
<header>
<div class="links">
    <button class="dropbtn" ><img src="{% static 'assets/menu.png' %}" alt="" id="menu-icon"></button>
    <div id="meuMenu" class="conteudoMenu">
        <a href="{% url 'index' %}" class="link">home</a>
        <a href="{% url 'emprestimos' %}" class="link">empréstimos</a>
        <a href="{% url 'consorcios' %}" class="link">consórcios</a>
        <a href="{% url 'produtos' %}" class="link">produtos</a>
        <a href="{% url 'localizacao' %}" class="link">localização</a>
        <a href="{% url 'contato' %}" class="link">contato</a>
    </div>
</div>
<div class="logo-div">
    <img src="{% static 'assets/logo.jpeg' %}" alt="" id="logo-piemonte">
</div>
</header>
