{% extends "piemonte/base.html" %}
{% load static %}
{% block content %}
<div class="contato container-fluid">
<div class="contato-texto container-fluid">
  <h1 class="text-center text-uppercase">fale conosco</h1>
  <p class="text-center text-uppercase fs-4 text">preencha o formulário abaixo para ter atendimento personalizado com nossos consultores.</p>
</div>
<div class="container" style="background-color: aqua;">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor doloremque eum hic voluptas qui perspiciatis minima voluptatum officia fugiat ex, 
    veritatis ullam optio illo nostrum necessitatibus officiis earum sapiente non?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis nemo omnis similique fugit sunt repellat 
      nihil obcaecati eius hic consectetur quos aliquid quas vero labore voluptatum vitae, doloribus, porro veniam?</p>
</div>
</div>
{% endblock content %}