{% extends "piemonte/base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <div id="home-text">
  <h1>você pode confiar</h1>
  <br>
  <p>Empréstimos, consórcios, abertura de conta corrente e todos os serviços com a qualidade e confiança BB, você encontra aqui.</p>
  <p>A PiemonteCred faz parte do Grupo Piemonte e é correspondente do Banco Do Brasil. Isso signfica que você pode confiar na transparência e solidez dos nossos produtos e serviços
  com um atendimento humanizado, de execelência e pensando no melhor para você.</p>
  <p>Clique abaixo e fale com nossos consultores.</p>
  <a href="" id="whatsapp-home"><img src="{% static 'assets/zap.png' %}" alt="WhatsApp" id="whatsapp-logo-home"></a>
  </div>
  <figure id="home-pic-frame">
    <img src="{% static 'assets/home-pic.png' %}" alt="" id="home-pic">
  </figure>
</div>
{% endblock content %}