{% extends "piemonte/base.html" %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/home-pic.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/home-pic2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/home-pic3.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="index container p-5">
  <h1 class="text-center" style = "color:#013781;">Apoio para você</h1>
  <p class="text-center fs-3 text" style="color: #013781;">No Grupo Piemonte, nós acreditamos que a vida é feita de pequenas conquistas diárias.</p>
  <p class="text-center fs-3 text" style="color: #013781;">Qual conquista você quer alcançar neste momento? Realizar um sonho? Reformar a sua casa ou seu escritório?</p>
  <p class="text-center fs-3 text" style="color: #013781;">Qualquer que seja a sua necessidade, pode contar com a certeza de que nossos consultores e consultoras estão a postos para te oferecer a melhor solução possível.</p>
  <p class="text-center fs-4 text" style="color: #013781;">Clique agora no ícone do ZAP e fale conosco!</p>
</div>
{% endblock content %}